<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/icono-clima.png">
        <link rel="stylesheet" href="/css/not-found.css">
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>{{errorMsg}}</p>
        <footer>
            {{>footer}}
        </footer>
    </body>
</html>
