body{
    text-align: center;
    position: relative;
    padding: 0 16px;
}

h1{
    font-size: 70px;
    padding-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header a{
    margin-right: 16px;
    text-decoration: none;
}

h1, p, a{
    color: rgb(248, 243, 243);
}

input{
    border-radius: 5px;
    font-size: 16px;
}

button{
    border-radius: 8px;
    background-color: #3333337d;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

#msg1, #msg2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 40px;
    text-align: justify;
}

#msg1{
    padding-top: 40px;
}

#msg2{
    padding-bottom: 40px;
}

.center{
    text-align: justify;
}

#fp{
    width:25%;
    align-items: center;
}

video {
    position: fixed;
    top: -60px;
    right: 0;
    min-width: 100%;
    min-height: 120%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
}

#sc{
    background-color: #3333337d;
    border-radius: 50px;
    width: 70%;
    margin: auto;
    margin-top: -30px;
}

footer{
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16 0;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}